* {
  font-family: "Noto Sans JP", sans-serif;
}
body {
  background-color: white;
}
.flexor {
  display: flex;
}
.B {
  font-weight: bold;
}

/* Header Section */
.navigation {
  background-color: white;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.logo {
  margin-left: 40px;
}
nav {
  background-color: white;
  display: flex;
  width: 100%;
}
.navbar-nav {
  margin-right: 20px;
}
#navbarNavDropdown {
  margin-left: auto;
  flex-direction: row-reverse;
}
.nav-link {
  color: Black;
  font-weight: 500;
}
.dropdown-menu {
  background-color: white;
}
.dropdown-item {
  color: black;
}
nav li {
  display: inline;
  font-size: 18px;
  margin: 20px;
}
nav li a {
  text-decoration: none;
}
.nav-link:hover {
  color: rgb(61, 174, 72);
  text-decoration: underline;
}
.navbar-toggler-icon {
  width: 1em;
  height: 1.5em;
}
.links {
  margin: auto 40px;
}
ul {
  padding: 0;
  margin: 0;
}
.links ul li {
  display: inline;
  margin: auto 20px;
}
a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
a:hover {
  color: rgb(122, 200, 99);
}
.active {
  text-decoration: underline;
}
.insta {
  max-height: 22px;
  padding-right: 10px;
}
/* Footer */
footer {
  height: 100px;
  padding-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  flex-direction: column;
  box-shadow: rgba(230, 230, 230, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
footer a {
  display: block;
  margin: auto;
}
/* Showcase Section */

.right {
  margin: auto;
  padding-bottom: 40px;
}
.right h1 {
  font-size: 5rem;
  font-family: "Bebas Neue", cursive;
}
.heading {
  width: 100%;
  margin: auto;
  padding-right: 20px;
  text-align: center;
}
/* Carousel Section */
.carousel-inner {
  max-width: 1600px;
  max-height: 700px;
  margin: auto;
}
.carousel-control-next,
.carousel-control-prev {
  width: 8%;
}
/* Companies Section */
.introduction {
  margin: 40px auto;
}
.introHeading {
  text-align: center;
  font-size: 2.6rem;
  font-family: "Bebas Neue", cursive;
  color: black;
  padding: 20px 0;
  border-top: 1px solid rgb(20, 20, 20);
  border-bottom: 1px solid rgb(20, 20, 20);
}
.companies {
  background-color: rgb(255, 255, 255);
  width: 90%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}
.logos {
  width: 100%;
  display: flex;
}
.logoBtn {
  border: none;
  display: flex;
  margin: auto;
  background-color: transparent;
}
.logos img {
  max-height: 160px;
  justify-content: space-between;
  padding: 30px;
  margin: auto;
}
.logoBtn:hover {
  background-color: #ddd;
}
#searchInput {
  width: 18%;
  min-width: 100px;
  border: 1px black solid;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 10px -4px;
  border-radius: 8px;
  margin: auto;
  display: flex;
}
#clearBtn {
  border-radius: 8px;
  background-color: #e6e6e6;
  border: 1px solid #b3b3b3;
  padding: 4px 8px;
  margin: auto;
  margin-top: 12px;
  display: flex;
}

/* Products Section */
.products {
  background-color: white;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 10px 10px -4px;
}
.product {
  width: 260px;
  margin: 30px;
  text-align: center;
  padding: 4px;
  border: 1px solid black;
  display: none;
}
.show {
  display: block;
}
.productName {
  text-align: center;
  font-size: 1.6rem;
}
.productSub {
  text-align: center;
  font-size: 1rem;
}
.productDetails {
  display: block;
  list-style-type: none;
  padding: 0;
  font-size: 0.8rem;
}
.UPC,
.QTY {
  font-size: 0.76rem;
}
.productIMG {
  width: 250px;
  height: 250px;
}
.productBtn {
  width: 65px;
  border-radius: 8px;
  background-color: rgb(100, 100, 100);
  color: white;
  margin-bottom: 8px;
}
/* About.html Styles */
.banner {
  background-color: lightgray;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 10px 10px -4px;
  display: flex;
  margin-top: 30px;
  width: 100%;
  padding: 38px;
}
.banner h1 {
  text-decoration: underline;
}
.bannerText {
  margin: auto 200px;
  padding-top: 16px;
  font-size: 1.1rem;
  font-weight: 150;
}
.rows {
  display: flex;
  width: 100%;
  padding: 80px;
  flex-direction: row;
}
.rows div {
  width: 48%;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}
/* Contact.html Styles */
.contactBody {
  background-color: rgb(200, 200, 200);
}

.contactUs {
  margin: 30px auto;
  padding: 0;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.contactHeading {
  width: 60%;
  margin: auto;
  padding-top: 60px;
  text-decoration: underline;
  font-weight: bold;
  font-size: 2.4rem;
  text-align: center;
}
.box {
  border: 1px solid rgb(20, 20, 20);
  border-radius: 10px;
  margin: 20px 60px;
  padding: 50px 18px;
  margin-top: 60px;
}
.contactForm {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 40px auto;
}

.contactFormInputs {
  flex-wrap: wrap;
}
.formInput {
  width: 50%;
  margin: 50px auto 0;
  display: flex;
  flex-direction: column;
}
.formInput label {
  font-size: 1.3rem;
}
.formInput input {
  margin: auto;
  width: 200px;
}
.contactForm textarea {
  margin-bottom: 40px;
}
.divSubmitBtn {
  max-width: 240px;
}
.submitBtn {
  border: 2px solid rgb(20, 20, 20);
  background: rgb(247, 202, 15);
  background: linear-gradient(
    90deg,
    rgba(247, 202, 15, 1) 0%,
    rgba(122, 200, 99, 1) 100%
  );
}
.contactDetails {
  width: 80%;
  margin: auto;
  flex-direction: column;
  padding: 16px;
}
.contactDetails h2 {
  font-size: 1.2rem;
  margin: 16px auto;
  text-align: center;
}
/* MEDIA QUERIES */
@media only screen and (max-width: 1800px) {
  .carousel-inner {
    width: 86%;
    margin: auto;
  }
  .logoBtn,
  .logoBtn img {
    max-width: 100%;
  }
}
@media only screen and (max-width: 1400px) {
  .logoBtn img {
    padding: 10px;
  }
  #searchInput {
    width: 20%;
  }
}
@media only screen and (max-width: 1200px) {
  .introHeading {
    font-size: 2.4rem;
  }
  .banner h1 {
    margin: 0 auto;
  }
  .bannerText {
    margin: auto;
    padding-left: 60px;
  }
}
@media only screen and (max-width: 992px) {
  .introHeading {
    font-size: 2rem;
  }
  .logos {
    display: flex;
    flex-wrap: wrap;
  }
  .logoBtn {
    max-width: 176px;
  }
  #searchInput {
    width: 36%;
  }
  .instaLink {
    display: none;
  }
  .insta {
    padding-right: 0;
  }
}
@media only screen and (max-width: 768px) {
  .introHeading {
    font-size: 1.6rem;
  }
  .logoBtn {
    max-width: 140px;
  }
  .product {
    width: 38%;
  }
  .productIMG {
    width: 100%;
    height: auto;
  }
  .banner {
    flex-direction: column;
    text-align: center;
  }
  .banner h1 {
    margin-bottom: 20px;
  }
  .bannerText {
    padding-left: 0;
  }
  .rows {
    flex-direction: column;
  }
  .rows div {
    text-align: center;
    width: 100%;
    margin: 0;
    margin-bottom: 60px;
  }
}
@media only screen and (max-width: 600px) {
  #searchInput {
    width: 42%;
  }
}
