* {
  font-family: "Noto Sans JP", sans-serif;
}
body {
  background-color: white;
}
.flexor {
  display: flex;
}
/* Header Section */
.navigation {
  background-color: white;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.logo {
  margin-left: 40px;
}
.links {
  margin: auto 40px;
}
ul {
  padding: 0;
  margin: 0;
}
.links ul li {
  display: inline;
  margin: auto 20px;
}
a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.insta {
  max-height: 22px;
}
/* Showcase Section */

.right {
  margin: auto;
  padding-bottom: 40px;
}
.right h1 {
  font-size: 5rem;
  font-family: "Bebas Neue", cursive;
}
.heading {
  width: 100%;
  margin: auto;
  padding-right: 20px;
  text-align: center;
}
/* Carousel Section */
.carousel-inner {
  max-width: 1600px;
  max-height: 700px;
  margin: auto;
}
.carousel-control-next,
.carousel-control-prev {
  width: 8%;
}
/* Companies Section */
.introduction {
  margin: 40px auto;
}
.introduction h2 {
  text-align: center;
  font-size: 2.6rem;
  font-family: "Bebas Neue", cursive;
  color: black;
  padding: 20px 0;
  border-top: 1px solid rgb(20, 20, 20);
  border-bottom: 1px solid rgb(20, 20, 20);
}
.companies {
  background-color: rgb(255, 255, 255);
  width: 90%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}
.logos {
  width: 100%;
  display: flex;
}
.logos img {
  max-height: 160px;
  justify-content: space-between;
  padding: 30px;
  margin: auto;
}
/* Products Section */
.products {
  background-color: white;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.product {
  max-width: 260px;
  margin: 30px;
}
.productName {
  text-align: center;
}
.productIMG {
  max-width: 260px;
}

/* Contact.html Styles */
.contactBody {
  background-color: rgb(200, 200, 200);
}

.contactUs {
  margin: 30px auto;
  padding: 0;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.contactHeading {
  width: 60%;
  margin: auto;
  padding-top: 60px;
  text-decoration: underline;
  font-weight: bold;
  font-size: 2.4rem;
  text-align: center;
}
.box {
  border: 1px solid rgb(20, 20, 20);
  border-radius: 10px;
  margin: 20px 60px;
  padding: 50px 18px;
  margin-top: 60px;
}
.contactForm {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 40px auto;
}

.contactFormInputs {
  flex-wrap: wrap;
}
.formInput {
  width: 50%;
  margin: 50px auto 0;
  display: flex;
  flex-direction: column;
}
.formInput label {
  font-size: 1.3rem;
}
.formInput input {
  margin: auto;
  width: 200px;
}
.contactForm textarea {
  margin-bottom: 40px;
}
.submitBtn {
  border: 2px solid rgb(20, 20, 20);
  background: rgb(247, 202, 15);
  background: linear-gradient(
    90deg,
    rgba(247, 202, 15, 1) 0%,
    rgba(122, 200, 99, 1) 100%
  );
}
.contactDetails {
  width: 100%;
  padding-top: 12px;
}
.contactDetails h2 {
  font-size: 1.2rem;
  margin: 20px auto 40px;
}
